{% extends 'base.html.twig' %}

{% block title %}Hello {{ app.user.fullname }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Hello {{ controller_name }}! ✅</h1>
        <h2>Mes projets</h2>
        <a href="{{ path('projet_new') }}" class="btn btn-success">
            <i class="fa fa-plus-circle"> Ajouter un projet</i>
        </a>
        <div class="row">
            %{% for projet in app.user.projets  %}
                <article class="col-4">
                    {% include 'projet/_thumbnail.html.twig' with {'projet': projet} only %}
                </article>
            {% endfor %}

        </div>

    </div>
{% endblock %}
