{% extends 'base.html.twig' %}

{% block title %}Hello {{ app.user.fullname }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="card mb-3">
            <h3 class="card-header">{{ app.user.fullname }}</h3>
            <div class="card-body">
                <h3 class="card-title text-danger">Mes projets en cours</h3>
            </div>
            <div class="row">
                {% for projet in app.user.projets %}
                    <article class="col-4">
                        {% include 'projet/_thumbnail.html.twig' with {'projet': projet} only %}
                        <div class="modal-footer ">
                            <a href="{{ path('projet_show', {'id': projet.id}) }}" class="btn btn-danger"><i
                                        class="fa fa-eye"></i>Voir plus</a>
                        </div>
                    </article>
                {% endfor %}
                <article>

            </div>
        </div>
    </div>


{% endblock %}
