<a class="navbar-brand" href="{{ path('homepage') }}"> <img src="{{ asset('images/logo-blanc.png') }}"
                                                            alt="logo-blanc" width="100rem"> </a>