{% extends 'base.html.twig' %}

{% block title %}DCCollab{% endblock %}

{% block body %}

<div class="bg" style="background-image:url('{{ asset('images/background 2.png') }}') ;">

    <div class="container">
        {% if app.user %}
        <h2 class="">Bienvenue  {{ app.user.fullname }}</h2>
            <p class="lead">Bienvenue  {{ app.user.fullname }}</p>
        {% else %}
        <div class="justify-content-center">
            <h1 class="display-3 justify-content-center text-success">Bienvenue sur DcCollab</h1>
            <p class="lead text-white">Bonjour, bienvenue sur l’Extranet.
                Vous êtes candidat, étudiant, ancien, enseignant, entreprise, ou membre de l’administration du réseau,
                accédez aux services qui vous sont proposés en vous connectant ci-contre..</p>
            <hr class="my-4">

            <p class="lead">
                <a class="btn btn-danger btn-lg" href="{{ path('app_login') }}" role="button">Connection</a>
            </p>
        </div>
        {% endif %}
    </div>
    {% endblock %}
