<article class="projet-thumbnail">
    <div class="container">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <h4 class="card-title text-success">{{ projet.nom }}</h4>
            <p class="card-text" style="height: 200px">{{ projet.extrait }}</p>
            <img style="height: 200px; width: 100%; display: block;" src={{ asset('images/' ~ projet.image  ) }}>
        </div>
        <p>Compétences recherchées : </p>
        {% for competence in projet.competence %}
            <span class="badge badge badge-primary">
                <i class="fa fa-user"></i>
                <span>{{ competence }}</span>
            </span>
        {% endfor %}
        <br>

    </div>
</article>




