{% extends 'base.html.twig' %}

{% block title %}Liste des Projets{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"></a></li>
        <li class="breadcrumb-item"><a href="#"></a></li>
        <li class="breadcrumb-item active">Data</li>
    </ol>
    <main class="page-content">
        <div class="container-sm">
            <h1>Découvrez tous nos projets</h1>


            <div class="row">

                {% for projet in projets %}
                    <div>
                        {{ include('projet/_thumbnail.html.twig') }}
                        <div class="modal-footer ">
                            <a href="{{ path('projet_show', {'id': projet.id}) }}" class="btn btn-danger"><i
                                        class="fa fa-eye"></i>Voir plus</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
    </main>
{% endblock %}
