{% extends 'base.html.twig' %}

{% block title %}Nouveau Projet{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créer un nouveau Projet</h1>

        {{ include('projet/_form.html.twig') }}

        <a href="{{ path('projet_index') }}">voir tous les projets</a>
    </div>
{% endblock %}
