// import bootstrap
@import "~bootswatch/dist/flatly/variables";
@import "~bootstrap/scss/bootstrap";

// import bootswatch (flatly)
@import "~bootswatch/dist/flatly/bootswatch";

// import font awesone 4

body {
    background-color: blue;
}

.page-login{
    width:100vh;
    height: 800px;
}
