// import bootstrap
@import "~bootswatch/dist/flatly/variables";

;
@import "~bootstrap/scss/bootstrap";
// import bootswatch (flatly)
@import "~bootswatch/dist/flatly/bootswatch";

// import font awesone 4


.page-content {
  min-height: 100vh;
}
.bg {
  background-size: cover;
  background-repeat: no-repeat;
  height: 40rem;

}


.page-footer {

height: 10rem;
  background-color: #4E5D6C;
}




