// import bootstrap
@import "~bootswatch/dist/flatly/variables";

;
@import "~bootstrap/scss/bootstrap";
// import bootswatch (flatly)
@import "~bootswatch/dist/flatly/bootswatch";

// import font awesone 4



.bg {
  background-size: cover;
  background-repeat: no-repeat;
  height: 80rem;


}


